.card {
    background-color: #1b1b1b;
    padding: 15px;
    font-family: Bree Serif;
    text-align: center;
}

.home-heading {
    color: #ffffff;
    font-size: 29px;
    padding-top: 8px;
}

.image-abdul {
    height: 260px;
}

.home-wings-of-fire {
    background-color: #e6f6ff;
    border-radius: 8px;
}

.home-wings-of-fire-heading {
    font-size: 15px;
    padding: 8px;

}

.image-bhagat {
    height: 220px;
    padding: 5px;
}

.home-bhagat {
    color: #ffffff;
    font-size: 15px;
    padding: 8px;

}

.image {
    height: 200px;
    width: 100px;

}