.card {
    background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png);
    height: 100vh;
    font-family: Roboto;
    color: White;
}
.h {
    background-color: #323f4b;
    text-align: center;
    height: 38px;
    font-size: 20px;
    padding: 8px;
}
.para1 {
    background-color: #47a3f3;
    text-align: end;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 40px;
    padding: 8px;
    text-align: right;
}
.para2 {
    background-color: #52606d;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 40px;
    padding: 8px;
    text-align: left;
}
.para11 {
    margin-top: 50px;
}
.para {
    padding: 12px;
}
