.main {
    font-family: "Roboto";
    border-color: #0967d219;
    border-width: 5px;
    border-style: solid;
    padding: 8px;
}

.main-heading {
    font-size: 20px;
}

.btn {
    font-size: 10px;
    border-radius: 6px;
}

.test {
    background-color: #0967d219;
    border-radius: 5px;
    margin-top: 12px;
    padding: 10px;
}

.test-img {
    height: 20px;
    padding: 15px;

}

.test-para {
    font-size: 12px;
    color: #323f4b;
    font-weight: 500;
}

.symptoms {
    font-size: 17px;
    padding-top: 12px;
}

.sym-all {
    padding: 5px;
}

.sym-1 {
    background-color: #3ebd93;
    border-radius: 8px;
    padding: 15px;
    font-size: 10px;
    color: #323f4b;
    height: 90px;
}

.sym-2 {
    background-color: #e668a7;
    border-radius: 8px;
    padding: 15px;
    font-size: 10px;
    color: #323f4b;
    height: 90px;
    margin-left: 15px;
}

.sym-3 {
    background-color: #a368fc;
    border-radius: 8px;
    padding: 15px;
    font-size: 10px;
    color: #323f4b;
    height: 90px;
    margin-left: 15px;
}

.last {
    background-color: #e12d3919;
    border-radius: 8px;
    padding: 8px;
}

.doctor {
    padding: 5px;
}